[submodule "ros_tcp_endpoint"]
	path = ros_tcp_endpoint
	url = https://github.com/Unity-Technologies/ROS-TCP-Endpoint.git
[submodule "xarm_ros2"]
	path = xarm_ros2
	url = https://github.com/xArm-Developer/xarm_ros2.git
